.add-item {
  .header {
    border-bottom: 1px solid grey;
  }
  form {
    padding: 22px;
    text-align: center;
    display: flex;
    flex-direction: column;

    .field-profil {
      margin-bottom: 10px;
      .image-profile {
        width: 35%;
        display: block;
        margin: auto;
      }
    }
    .btn-group {
      display: flex;
      justify-content: space-evenly;
    }
  }
}
