<div class="item-list-table" >
<label *ngIf="listItem.length == 0">No data to display</label>

  <table mat-table *ngIf="listItem.length !== 0"
  [dataSource]="listItem  | search: searchItem | paginate: { itemsPerPage: 5, currentPage: pageIndex }" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef> Profile </th>
      <td  class="profile" mat-cell *matCellDef="let element">
        <img class="img-profile" src="{{element.thumbnailUrl}}"></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="albumId">
      <th mat-header-cell *matHeaderCellDef> albumId </th>
      <td mat-cell *matCellDef="let element"> {{element.albumId}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button
        [satPopoverAnchor]="p" (click)="p.toggle()" >
        <mat-icon>edit</mat-icon>
      </button>
      <sat-popover #p verticalAlign="below">
        <div class="popover-wrapper">
          <app-edit-item [item]="element" ></app-edit-item>
        </div>
      </sat-popover>
      </td>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
        (click)="removeItem(element)" color="warn">
        <mat-icon>delete</mat-icon>
      </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr class="mat-row-table" mat-row *matRowDef="let row; columns: displayedColumns;" (click)="selectedItem(row)"></tr>
  </table>
  <div class="paginator">
    <mat-paginator
      [length]="listItem?.length"
      [pageSize]="5"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>

