<div class="item-list-table" >
  <div class="search-product">
    <mat-form-field>
        <input matInput name="productName" [(ngModel)]="item" placeholder="asearch product">
    </mat-form-field>
</div>
<!-- <label *ngIf="listItem.length == 0">No data to display</label> -->
  <table mat-table [dataSource]="listItem  | search: item | paginate: { itemsPerPage: 5, currentPage: pageIndex }" matSort class="mat-elevation-z8">

    <ng-container matColumnDef="profile">
      <th mat-header-cell *matHeaderCellDef> Profile </th>
      <td mat-cell *matCellDef="let element">
        <img src="{{element.thumbnailUrl}}"></td>
    </ng-container>

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>

    <ng-container matColumnDef="albumId">
      <th mat-header-cell *matHeaderCellDef> albumId </th>
      <td mat-cell *matCellDef="let element"> {{element.albumId}} </td>
    </ng-container>

    <ng-container matColumnDef="edit">
      <th mat-header-cell *matHeaderCellDef> Edit </th>
      <mat-cell *matCellDef="let element">
        <button mat-icon-button
        [satPopoverAnchor]="p" (click)="p.toggle()" >
        <mat-icon>edit</mat-icon>
      </button>
      <sat-popover #p verticalAlign="below">
        <div class="popover-wrapper">
          <app-edit-item [item]="element" ></app-edit-item>
        </div>
      </sat-popover>
    </mat-cell>
    </ng-container>

    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef> Delete </th>
      <mat-cell *matCellDef="let element"> <button mat-icon-button matTooltip="Click to Delete" class="iconbutton"
        (click)="removeItem(element)" color="warn">
        <mat-icon>delete</mat-icon>
      </button> </mat-cell>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <div class="paginator">
    <mat-paginator
      [length]="listItem?.length"
      [pageSize]="5"
      (page)="pageEvent($event)"
    >
    </mat-paginator>
  </div>
</div>

