.container {
  display: flex;
  flex-direction: column;

  .toolbar {
    .side {
      padding: 0 14px;
    }
    .example-spacer {
      flex: 1 1 auto;
    }
    .btn-add-item {
      background: #46a35e;
    }

    .search-item {
      font-size: small;
    }
  }

  .item-data {
    display: flex;
    padding: 32px 15px 0;
    .item {
      flex: 1;
      margin: auto;
    }

    .item-list-table {
      flex: 1;
    }
  }

}
